<html>
<head>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
        Smooch.init({appToken: '5aeb44f9994b8b0022a1ab37' });
    </script>


</head>
<body>
    <h2>SmoochBot Demo</h2>
    <script>
    Smooch.init({appId: '5aeb44f9994b8b0022a1ab37', region: 'eu-1'}).then(function() {
        
    });
</script>
</body>
</html>